<ion-content>
  <ion-card>
    <div>
      <img src="assets/media/party_douchebag.jpg"/>
    </div>
    <ion-card-header>
      <ion-card-title>Kyle, 21</ion-card-title>
      <ion-card-subtitle>Amateur boxer</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Kzen de Kyle en ik fuk u up gast. Kweni wrm da zegt amateur want kzen egt wel ne pro
    </ion-card-content>
    <div class="buttons">
      <ion-fab-button color="medium">
        <ion-icon color="dark" fill="outline" name="thumbs-down"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="medium">
        <ion-icon color="dark" fill="outline" name="thumbs-up"></ion-icon>
      </ion-fab-button>
    </div>

  </ion-card>
</ion-content>